
/* xxl  */
.f-s{
    font-size: 48px !important;
}
@media (min-width: 1400px){
.f-xxl-s-64{font-size: 65px !important;}
}
/* xl */
@media (min-width: 1200px) {
.f-xl-s-48{
font-size: 48 !important;
}
}